<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Extração de Dados</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style/styleCss.css"/>-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Extração de Dados </span>
    </nav>
</header>

<section>
    <div class="container">
        <p></p>
        <p>Instrucões: </p>
        <p>Faça login para acessar a ferramenta. </p>
        <p>Faça o upload do arquivo planilha.xlsx</p>
        <p>Selecione uma data e clique em Extrair</p>
        <p>O sistema retornará os dados no formato específico com as demandas aprovadas e canceladas.</p>

        <p></p>
        <p></p>

        <hr></hr>
        <nav aria-label="breadcrumb">
            <a href="/upload" class="btn btn-success" role="button">Iniciar</a>
<!--            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">-->
<!--                <li class="breadcrumb-item"><a href="/upload">Iniciar</a></li>-->
<!--                -->
<!--            </ol>-->
        </nav>
    </div>
</section>

<script>
    $('#summernote').summernote({
        placeholder: 'Texto *',
        tabsize: 2,
        height: 300
    });
</script>

</body>
</html>