<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Extração de Dados</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style/styleCss.css"/>-->
</head>
<body>

    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Extração de Dados</span>
            <h1 th:inline="text">Olá [[${#httpServletRequest.remoteUser}]]!</h1>
            <a href="/novaExtracao" class="btn btn-primary" role="button">Nova Extração</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </nav>
    </header>
    <section>
        <div class="container"  style="width: 60%; padding-bottom: 30px;">
<!--            <span th:text="${resultado.titulo}"></span>-->
            <p></p>
            <span th:text="${resultado.resumo}"></span>
            <p></p>
            EQUIPE: <span th:text="${resultado.hora}"></span>
            <p></p>
        </div>
    <div class="container"  style="width: 60%; padding-bottom: 30px;">
        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="demanda : ${resultado.aprovadas}">
            <div class="card-body">
                    <span th:text="${demanda.titulo}"></span>
                    <p></p>
                    <span th:text="${demanda.equipe}"></span>
                    <p></p>
                    <span th:text="${demanda.viatura}"></span>
                    <p></p>
                    <span th:text="${demanda.horarioSaida}"></span>
                    <p></p>
                    <span th:text="${demanda.status}"></span>
                    <p></p>
                    <span th:text="${demanda.justificativa}"></span>
                    <p></p>
            </div>
        </div>
        <p></p>
        <h3>SERVIÇOS NÃO AUTORIZADOS OU CANCELADOS</h3>

        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="demanda : ${resultado.canceladas}">
            <div class="card-body">
                <span th:text="${demanda.titulo}"></span>
                <p></p>
                <span th:text="${demanda.equipe}"></span>
                <p></p>
                <span th:text="${demanda.viatura}"></span>
                <p></p>
                <span th:text="${demanda.horarioSaida}"></span>
                <p></p>
                <span th:text="${demanda.status}"></span>
                <p></p>
                <span th:text="${demanda.justificativa}"></span>
                <p></p>
            </div>
        </div>
        </div>
    </div>
    </section>

</body>
</html>