<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Extração de Dados</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style/styleCss.css"/>-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header>
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Extração de Dados </span>
    </nav>
</header>

<section>
    <div class="container"  style="width: 70%;">

    <p></p>
    <p>Efetue o upload do arquivo no botão abaixo com o nome <strong>Programação</strong> e formato <strong>xlsx</strong> :</p>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">Entrada da planilha</label>
            <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Upload Planilha</button>
        </div>

    </form>
    </div>
</section>

</body>
</html>
