<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Extração de Dados</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style/styleCss.css"/>-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header>
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Extração de Dados </span>
    </nav>
</header>

<div th:if="${message}">
    <h3 th:text="${message}"/>

</div>

<div th:unless="${sucesso}">
    <a href="/upload" class="btn btn-success" role="button">Upload</a>
</div>

<p></p>
<p></p>
<p></p>

<div th:if="${sucesso}">

        <div class="container"  style="width: 70%;">
            <nav aria-label="breadcrumb">
                <a href="/novaExtracao" class="btn btn-success" role="button">Avançar</a>
            </nav>
        </div>

</div>

</body>
</html>